asgiref==3.2.10
boto3==1.26.103
botocore==1.29.103
certifi==2022.12.7
charset-normalizer==3.1.0
Django==3.0.7
django-extensions==3.0.2
django-ranged-response==0.2.0
django-recaptcha==3.0.0
django-simple-captcha==0.5.17
graphviz==0.14
idna==3.4
jmespath==1.0.1
mysql-connector-python==8.0.20
mysqlclient==2.1.1
Pillow==9.4.0
protobuf==4.22.1
pydot==1.4.1
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2020.1
requests==2.28.2
s3transfer==0.6.0
six==1.15.0
sqlparse==0.3.1
urllib3==1.26.15
