{% extends 'student_template/base_template.html' %}

{% block page_title %}
    Code Compiler
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center">Online IDE</h3>
                </div>
            </div>
            <div class="row py-3">
                <div class="col-md-6 px-2">
                    <h4>Source</h4>
                    <form name="compile" id="compiler_form" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                <select class="form-select" name="language" aria-label="Default select example">
                                  <option selected>Open this select menu</option>
                                  <option value="py3">Python3</option>
                                  <option value="java" selected="selected">Java</option>
                                  <option value="c">C</option>
                                  <option value="cpp">C++</option>
                                  <option value="cs">C#</option>
                                  <option value="vb">VB.NET</option>
                                  <option value="r">R</option>
                                  <option value="rb">Ruby</option>
                                  <option value="go">Go</option>
                                  <option value="pl">Perl</option>
                                  <option value="node_js">NodeJS</option>
                                </select>
                            </div>
                            <div class="col">
                                <div class="input-group my-3">
                                  <span class="input-group-text">Class Name</span>
                                  <input type="text" class="form-control" name="class_name" placeholder="CLASS (IF ANY)" aria-label="class_name" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>

                        <div class=" row input-group my-3">
                          <span class="input-group-text">Code *</span>
                          <textarea class="form-control" placeholder="Write your Code here" name="code" aria-label="Code"></textarea>
                        </div>

                        <div class=" row input-group my-3">
                          <span class="input-group-text">STDIN</span>
                          <textarea class="form-control" placeholder="Enter your user input here!!" name="code_input" aria-label="Code"></textarea>
                        </div>
                        <button class="w-40 btn btn-lg btn-primary my-4" type="submit">Compile</button>
                    </form>
                </div>
                <div class="col-md-6 px-2">
                    <h4>Console</h4>
                    <div id="result">Result will be displayed here (Formatted)</div>
                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}

{% block custom_js %}
$('#compiler_form').on('submit',function(event){
    event.preventDefault();

    var formData = new FormData(document.getElementsByName('compile')[0]);
    console.log(formData)

    $.ajax({
        type: "POST",
        url: "{% url 'compile' %}",// where you wanna post
        data: formData,
        processData: false,
        contentType: false,
        error: function(jqXHR, textStatus, errorMessage) {
            console.log(errorMessage); // Optional
        },
        success: function(data) {
            $('#result').text(data['response_data']);
        }
    });
});
{% endblock custom_js %}