{% extends 'student_template/base_template.html' %}

{% block page_title %}
    Code Compiler
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center">Online IDE</h3>
                </div>
            </div>
            <div class="row py-3">
                <div class="col-md-6 px-2">
                    <h4>Source</h4>
                    <form action="{% url 'web:compile' %}" method="POST">
                        <div>
                            <select id="language_selection">
                              <option value="py3">Python3</option>
                              <option value="java" selected="selected">Java</option>
                              <option value="c">C</option>
                              <option value="cpp">C++</option>
                              <option value="cs">C#</option>
                              <option value="vb">VB.NET</option>
                              <option value="r">R</option>
                              <option value="rb">Ruby</option>
                              <option value="go">Go</option>
                              <option value="pl">Perl</option>
                              <option value="node_js">NodeJS</option>
                          </select>
                            <input type="text" placeholder="class name" id="class_name" name="class_name"><br><br>
                        </div>

                        <textarea style="height: 17em;" class="u-full-width" placeholder="Write your Code here" id="code" name="code">
                        </textarea>

                        <h4>Stdin</h4>
                        <textarea style="height: 6em;" class="u-full-width" placeholder="Enter your user input here!!" id="code_input"
                                  name="code_input"></textarea>
                        <input id="btnExecute" class="button-primary" type="button" value="Try me!">

                    </form>
                </div>
                <div class="col-md-6 px-2">
                    <h4>Console</h4>
                    <div id="result">Result will be displayed here (Formatted)</div>
                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}

{% block custom_js %}
function execution_done_callback() {
    if (httpRequest.readyState === XMLHttpRequest.DONE) {
      if (httpRequest.status === 200) {
        data = JSON.parse(httpRequest.responseText)
        console.log(data.result.result);
<!--        document.getElementById("result").innerHTML = data.result;-->
        document.getElementById("result").innerHTML = data["result"]["response_data"];
      } else {
        alert('There was a problem with the request.');
      }
    }
  }

  function execute() {
    httpRequest = new XMLHttpRequest();

    if (!httpRequest) {
      alert('Giving up :( Cannot create an XMLHTTP instance');
      return false;
    }

    httpRequest.onreadystatechange = execution_done_callback;
    httpRequest.open('POST', "/compile", true);
    httpRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

    content = (document.getElementById("code").value)
    content_stdin = (document.getElementById("code_input").value)
    language_selection = (document.getElementById("language_selection").value)
    class_name = (document.getElementById("class_name").value)


    var payload = []; // create an empty array

    payload.push({
        "content": content,
        "content_stdin": content_stdin,
        "language":language_selection,
        "class_name":class_name
    });

<!--    httpRequest.send(content);-->
    httpRequest.send(JSON.stringify(payload));
  }

  window.onload = function() {
    document.getElementById("btnExecute").onclick = execute;
  }
{% endblock custom_js %}